<div id="contenedor">
  <div class="row">
      <div class="col-xs-12">
        <h1>Pedómetro</h1>
      </div>
  </div>
    <div class="row">
      <div class="col-xs-12">
        <img
          src='https://vignette4.wikia.nocookie.net/inciclopedia/images/5/5e/Cartel_pedo.gif/revision/latest?cb=20090614054451'
          alt=""
          class="img-responsive"
          style="max-height: 300px;">
      </div>
    </div>
    <hr>
    <div class="container-fluid">
        <div class="col-lg-12">
          <button class="btn btn-danger" type="button" (click)="onPeer()">Peerse</button>
          <hr>
        </div>
    </div>
</div>